@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif, system-ui;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.transformator {
  max-width: 1150px;
}

.image-transform {
  min-width: 250px;
  display: block;
  width: 100%;
}

// .nopadding {
//   padding: 0 !important;
//   margin: 0 !important;
// }

.mx {
  margin-left: 20px;
  margin-right: 20px;
}
