@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif, system-ui;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
